<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація користувача</title>
</head>
<body>
<h1>Реєстрація користувача</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Логін:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Введіть логін" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Введіть пароль" required />
    </div>
    <div>
        <button type="submit">Зареєструватися</button>
    </div>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Вийти</button>
</form>
<div th:if="${param.error}">
    <p style="color:red">Користувач з таким логіном вже існує або сталася помилка.</p>
</div>
</body>
</html>
